.header {
    background-color: var(--color-grey-dark-1);
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba(#101d2c, 0.87), rgba(#101d2c, 0.87)),
        (url(../img/hero.jpg));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;

    grid-row-gap: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1/-1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 4rem;
    }

    &__navbar {
        text-decoration: none;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-primary);
        justify-self: right;
        display: flex;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__navbar-item {
        &:not(:last-child) {
            margin-right: 4rem;

            @media only screen and (max-width: $bp-largest) {
                margin-right: 1.5rem;
            }
        }

        a:link,
        a:visited {
            color: currentColor;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
        }

        a:hover,
        a:active {
            border-bottom: 2px solid #eee;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: start;
    }

    &__logo {
        height: 10rem;
        justify-self: left;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    .btnscroll {
        border: none;
        background-color: transparent;
        color: currentColor;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            border-bottom: 2px solid #eee;
        }

        &:focus {
            display: none;
        }

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 1.2rem;
        }
    }
}
